/* Fondo */
.fondo {
    background-color: #50e3c2;
    background-image: radial-gradient(at 47% 33%,
            hsl(162, 77%, 40%) 0,
            transparent 59%),
        radial-gradient(at 82% 65%, hsl(198, 100%, 50%) 0, transparent 55%);
}

:root {
    --accent: #1dccc3;

    --color-valido: #198754;
    --color-invalido: #dd0025;

    --text-color: #434242;

    --font-size: 14px;
    --letter-spacing: 0.0178571429em;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo {
    text-align: center;
    padding-bottom: 10px;
}

.logo img {
    width: 50%;
}

.header-restablecer {
    text-align: center;
    font-size: small;
    padding: 10px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    background-color: #ffffff;
    padding: 0px;
    border-radius: 12px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box {
    padding: 50px 55px;
    width: auto;
    box-sizing: border-box;
}

.input-box .titulo-aut {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);
    padding: 5px 0;
}

.titulo-rest {
    text-align: center;
}

.recuperar {
    text-align: center;
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    margin-top: 10px;
}

span a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: 0.5s;
}

span a:hover {
    text-decoration: underline;
    color: #000;
}

/* Carousel */
.carousel-inner {
    border-radius: 10px 0 0 10px;
}

.carousel-item .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Feedbacks */
.invalid-feedback {
    color: var(--color-invalido) !important;
    margin: 0 !important;
    display: block;
}

.success-feedback {
    color: var(--color-valido) !important;
    margin: 0 !important;
    font-size: small !important;
    display: block;
}

/* Animación de cuadros CSS */
.cuadros {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cuadros li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 5s linear infinite;
    bottom: -150px;
}

.cuadros li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.cuadros li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.cuadros li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.cuadros li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.cuadros li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.cuadros li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.cuadros li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.cuadros li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.cuadros li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.cuadros li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* Botón animado */
.btn-animado {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #40b3a2;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
}

.btn-animado:hover {
    opacity: 0.95;
}

.btn-animado .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
            0 0 0 20px rgba(255, 255, 255, 0.1),
            0 0 0 40px rgba(255, 255, 255, 0.1),
            0 0 0 60px rgba(255, 255, 255, 0.1);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
            0 0 0 40px rgba(255, 255, 255, 0.1),
            0 0 0 60px rgba(255, 255, 255, 0.1),
            0 0 0 80px rgba(255, 255, 255, 0);
    }
}

button,
input {
    border: 0;
    width: 100%;
    background: transparent;
    font-family: inherit;
    font-size: 16px;
    outline: none;
    border-radius: 0;
}

@keyframes clouds {
    100% {
        translate: -50vw -55%;
        scale: 1 1.1;
    }
}

.textbox {
    position: relative;
    margin-bottom: 16px;
}

.textbox>span {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 0;
    font-size: 22px;
    pointer-events: none;
    fill: var(--text-color);
}

.textbox input {
    padding: 0 24px 0 36px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    height: 62px;
}

:is(input:focus, input:valid)~label {
    translate: -40px -40px;
    scale: 0.875;
}

input:focus~label {
    color: var(--accent);
}

:is(input:valid, input:focus) {
    border-color: var(--accent);
}

.textbox label {
    position: absolute;
    top: 50%;
    left: 36px;
    translate: 0 -50%;
    color: var(--text-color);
    pointer-events: none;
    transition: 0.4s;
}

.email {
    margin: 20px 0 0 0;
}

.email input {
    padding-right: 50px;
}

.email button {
    position: absolute;
    top: 50%;
    right: 0;
    place-items: center;
    padding: 0;
    height: 22px;
    width: 22px;
    translate: 0 -50%;
    cursor: pointer;
}

.email button span {
    color: var(--text-color);
    transition: 0.3s;
}

.message {
    text-align: center;
    font-size: 16px;
    letter-spacing: var(--letter-spacing);
}

.password {
    margin: 15px 0 30px 0;
}

.password input {
    padding-right: 50px;
}

.password button {
    position: absolute;
    top: 50%;
    right: 5px;
    place-items: center;
    padding: 0;
    height: 22px;
    width: 22px;
    translate: 0 -50%;
    cursor: pointer;
}

.password button span {
    fill: var(--text-color);
    transition: 0.3s;
}

.confirm {
    margin: 20px 0 10px 0;
}

.confirm input {
    padding-right: 50px;
}

.confirm button {
    position: absolute;
    top: 50%;
    right: 0;
    place-items: center;
    padding: 0;
    height: 22px;
    width: 22px;
    translate: 0 -50%;
    cursor: pointer;
}

.email button span {
    color: var(--text-color);
    transition: 0.3s;
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .input-box {
        padding: 40px;
        width: 475px;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-color: #fff !important;
        background-image: none !important;
    }

    .input-box {
        padding: 0 20px;
    }

    .confirm input {
        padding: 0px 80px 0 36px;
    }
}