* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Barra de desplazamiento */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--component-bg);
    border-radius: 5px;
    transition: var(--tran-03);
}

::-webkit-scrollbar-thumb {
    background-color: var(--component);
    border-radius: 5px;
    transition: var(--tran-03);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--component-hover);
}

/* Colores para el diseño claro */
:root {
    /* Paleta de colores */
    --primary: #33b7a0;
    --secondary: #b5e4ca;
    --secondary-hover: #b5e4ca;
    --accent: #20c997;
    --positive: #20c997;
    --negative: ;
    --info: #e0edfc;
    --warning: ;

    --action: #0dcaf01a;
    --action-title: #0dcaf0;

    /* Botones */
    --btn-primary: #0d6efd1a;
    --btn-primary-hover: #d0dffa;
    --btn-secondary: #eeeeee;
    --btn-secondary-hover: #e5e7e9;
    --btn-success: #20c9971a;
    --btn-success-hover: #d6f5df;
    --btn-danger: #ed0b211a;
    --btn-danger-hover: #ffdade;
    --btn-warning: #ffc1071a;
    --btn-warning-hover: #fff2da;
    --btn-info: ;

    --bg-tooltip: #27d06e;
    --color-tooltip: #fff;

    /* Paginación de las tablas */
    --btn-paginacion-bg: #e5e7e9;
    --btn-paginacion-bg-active: #20c9971a;
    --btn-paginacion-color-active: #20c997;
    --btn-paginacion-bg-hover: #20c9971a;
    --btn-paginacion-color-hover: #20c997;

    /* Iconos */
    --icon-primary: #0d6efd;
    --icon-secondary: #454545;
    --icon-success: #20c997;
    --icon-danger: #dc3545;
    --icon-warning: #ffc107;
    --icon-info: ;

    /* Textos */
    --text-color: #3c4043;
    --span: #555555;
    --font-size: 0.875rem;
    --letter-spacing: 0.0178571429em;
    --input-caret: #33b7a0;

    /* Generales */
    --bg-sidebar: #ffffff;
    --title-color: #000000;
    --sidebar-text-hover: #111827;
    --box-shadow-2: 0 2px 10px rgba(0, 0, 0, 0.1);

    --body-bg: #ffffff;
    --sidebar-bg: #f0f4f9;
    --sidebar-bg-hover: #3c404314;
    /* --sidebar-icon-hover: #4a4f53; */
    --sidebar-bg-active: #20c9971a;
    --border-radius-sidebar: 25px;
    --card-bg: #ffffff;
    --toggle-shadow: #999999;
    --table-border: #dee2e6;
    --component: #c0c0c0;
    --component-bg: #e9e9eb;
    --component-hover: #a0a0a0;
    --border-radius: 5px;
    --box-shadow: 0 1px 4px rgba(18, 22, 33, 0.12);

    --dropdown-menu: #ffffff;
    --dropdown-item-hover: #0000000a;
    --dropdown-divider: #eeeeee;

    /* Alertas */
    --alert-primary: #cfe2ff;
    --alert-primary-color: #052c65;
    --alert-primary-border: #9ec5fe;

    /* Viejos estilos */
    --color-enfoque: #1a73e8;
    --color-valido: #198754;
    --color-invalido: #dd0025;

    /* Trancisiones */
    --tran-01: all 0.2s ease;
    --tran-02: all 0.3s ease;
    --tran-03: all 0.4s ease;

    /* Contadores */
    --contador-primary: #0d6efd;
    --contador-info: #17a2b8;
    --contador-danger: #dc3545;
    --contador-success: #28a745;
    --counter-text: #ffffff;

    /* Archivo style main */

    --btn-card-bg: #ffffff;

    --card-container: #ffffff;
    --toggle-switch: #27d06e;
    --toggle-switch-bg: #ffffff;
    --toggle-switch-border: #dee2e6;

    /* Contadores */
    --carta-primary: #379fff;
    --carta-secondary: #e3e3e3;
    --carta-success: #8bc43f;
    --carta-info: #d7e2fc;
    --carta-warning: #ffd143;
    --carta-danger: #ff993a;

    /* Iconos */
    --icon-carta-primary: #ffffff;
    --icon-carta-secondary: #535252;
    --icon-carta-success: #ffffff;
    --icon-carta-info: #3062a5;
    --icon-carta-warning: #ffffff;
    --icon-carta-danger: #ffffff;
}

/* Colores para el diseño oscuro */
body.dark {
    /* Paleta de colores */
    --primary: #33b7a0;
    --secondary: #0c352d;
    --secondary-hover: #0c352d;
    --accent: #20c997;
    --positive: #20c997;
    --negative: ;
    --info: #172d3b;
    --warning: ;

    --action: #33b7a0;
    --action-title: #000000;

    /* Botones */
    --btn-primary: #0d6efd1a;
    --btn-primary-hover: #1c324d;
    --btn-secondary: #323232;
    --btn-secondary-hover: #3d3d3d;
    --btn-success: #20c9971a;
    --btn-success-hover: #1e472a;
    --btn-danger: #dc35451a;
    --btn-danger-hover: #593030;
    --btn-warning: #ffc1071a;
    --btn-warning-hover: #64541b;
    --btn-info: ;

    --bg-tooltip: #27d06e;
    --color-tooltip: #fff;

    /* Paginación de las tablas */
    --btn-paginacion-bg: #323232;
    --btn-paginacion-color: #fff;
    --btn-paginacion-bg-active: #20c9971a;
    --btn-paginacion-color-active: #20c997;
    --btn-paginacion-bg-hover: #20c9971a;
    --btn-paginacion-color-hover: #20c997;

    /* Iconos */
    --icon-primary: #0d6efd;
    --icon-secondary: #c2c2c2;
    --icon-success: #20c997;
    --icon-danger: #ff1400;
    --icon-warning: #ffc107;
    --icon-info: ;

    /* Alertas */
    --alert-primary: #00317b;
    --alert-primary-color: #6ea8fe;
    --alert-primary-border: #084298;

    /* Textos */
    --text-color: #bebebe;
    --span: #b0b0b0;
    --input-caret: #33b7a0;

    /* Generales */
    --bg-sidebar: #1e1f20;
    --border: ;
    --title-color: #bebebe;
    --box-shadow-2: 0;

    --body-bg: #131314;
    --sidebar-bg: #1e1f20;
    --sidebar-bg-hover: #323232;
    --sidebar-icon-hover: #adb2b6;
    --sidebar-bg-active: #20c9971a;
    --card-bg: #1e1f20;
    --toggle-shadow: #383838;
    --table-border: #373b3e;

    --dropdown-menu: #262626;
    --dropdown-item-hover: #ffffff14;
    --dropdown-divider: #545454;

    --component: #666666;
    --component-bg: #333333;
    --component-hover: #999999;

    /* Contadores */
    --contador-primary: #222222;
    --contador-info: #222222;
    --contador-danger: #222222;
    --contador-success: #222222;
    --counter-text: #bebebe;

    /* Archivo style main */
    --btn-card-bg: #1c1c1c;

    --card-container: #131314;
    --toggle-switch: rgb(0, 221, 80);
    --toggle-switch-bg: #d0d0d0;
    --toggle-switch-border: #d0d0d0;

    /* Contadores */
    --carta-primary: #1c1c1c;
    --carta-secondary: #1c1c1c;
    --carta-success: #1c1c1c;
    --carta-info: #1c1c1c;
    --carta-warning: #1c1c1c;
    --carta-danger: #1c1c1c;

    --icon-carta-primary: #bebebe;
    --icon-carta-secondary: #bebebe;
    --icon-carta-success: #bebebe;
    --icon-carta-info: #bebebe;
    --icon-carta-warning: #bebebe;
    --icon-carta-danger: #bebebe;
}

/* Body */
body {
    background-color: var(--body-bg);
    transition: var(--tran-03);
    display: none;
    user-select: none;
}

/* Texto */
.text-color {
    color: var(--text-color);
}

h1 {
    font-weight: 700;
    letter-spacing: var(--letter-spacing);
    font-size: calc(1.2625rem + 0.15vw);
    margin-bottom: 0;
    color: var(--text-color);
    transition: var(--tran-03);
}

h2 {
    font-weight: 700;
    letter-spacing: var(--letter-spacing);
    font-size: 18px;
    margin-bottom: 0;
    color: var(--text-color);
    transition: var(--tran-03);
}

h3 {
    font-weight: 600 !important;
    color: var(--text-color) !important;
    margin: 10px 0;
    transition: var(--tran-03);
}

h5 {
    color: var(--text-color);
    transition: var(--tran-03);
}

h6 {
    font-weight: 600 !important;
    color: var(--text-color) !important;
    transition: var(--tran-03);
}

p {
    margin: 0;
    font-size: var(--font-size);
    font-weight: 400;
    letter-spacing: var(--letter-spacing);
    color: var(--text-color) !important;
    transition: var(--tran-03);
}

small {
    color: var(--text-color);
    transition: var(--tran-03);
}

span {
    letter-spacing: var(--letter-spacing);
    font-weight: 500;
    font-size: 0.875rem;
}

ul {
    margin-bottom: 0.5rem;
}

li {
    list-style: none;
}

hr {
    border-top: var(--bs-border-width) solid var(--text-color);
}

.vr {
    background-color: var(--text-color);
}

.link_name {
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    white-space: nowrap;
    color: var(--text-color);
    transition: var(--tran-03);
}

.side-menu {
    width: 250px;
    position: fixed;
    height: 100%;
    left: 0;
    transition: var(--tran-03);
    z-index: 1;
}

.main-content {
    flex: 1;
    z-index: inherit;
    margin-left: 250px;
    z-index: 1;
}

.content {
    padding: 4rem 1.5rem 0 1.5rem;
}

.card-container {
    transition: var(--tran-03);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    padding: 15px;
}

/* Feedbacks */
.text-danger {
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--color-invalido);
    letter-spacing: var(--letter-spacing);
}

.invalid-feedback {
    font-size: 0.8em;
    color: var(--color-invalido);
    letter-spacing: var(--letter-spacing);
}

.valid-feedback {
    font-size: 0.8em;
}

.success-feedback {
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--color-valido);
    letter-spacing: var(--letter-spacing);
}

.text-success {
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--color-valido);
    letter-spacing: var(--letter-spacing);
}

.date-notificacion {
    padding-top: 10px;
    font-size: 12px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

/* Skeleton */
.placeholder {
    height: 40px;
    background-color: var(--component-bg);
}

.text-primary-500 {
    color: rgba(0, 77, 255, 1);
}

/* Animación de carga */
.spinner-table {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-border-table {
    width: 45px;
    height: 45px;
    border: 6px solid var(--component-bg);
    border-top-color: var(--accent);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-border {
    width: 50px;
    height: 50px;
    border: 6px solid var(--component-bg);
    border-top-color: var(--accent);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    color: var(--text-color);
    background-color: var(--body-bg);
    font-weight: 600;
    padding: 20px;
    z-index: 10;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1024px) {

    table.table-bordered.dataTable th,
    table.table-bordered.dataTable td {
        border-left-width: 1px;
    }

    .card-body {
        box-shadow: none !important;
    }

    .btn-container {
        justify-content: start;
    }

    .btn-container:hover,
    .btn-container:active {
        background-color: var(--sidebar-bg);
    }
}

@media screen and (max-width: 450px) {
    .btn-actions {
        width: 130px;
    }

    .content {
        padding: 4rem 1rem 2rem 1rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .card-header {
        padding: 0.2rem 0.2rem;
    }

    .card-body {
        padding: 0.5rem 0.2rem;
    }

    .card .menu-bar li svg {
        min-width: 55px !important;
    }

    .card .menu-bar li {
        margin: 10px 0 !important;
    }

    .card .menu-bar li:hover {
        margin: 10px 0 !important;
    }
}

@media screen and (min-width: 768px) {
    .btn-redes {
        margin-top: 18px;
    }

    .fila-fija {
        display: flex;
        flex-wrap: nowrap;
    }

    .columna-fija {
        flex: 0 0 auto;
        position: sticky;
        top: 5rem;
        height: calc(100vh - 5rem);
        overflow-y: auto;
    }

    .columna-scroll {
        padding-bottom: 2rem;
        margin-top: 1rem;
        flex: 1;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1920px) {
    .card-container {
        background-color: var(--card-container);
        height: 91vh;
        overflow: auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
    .card-container {
        background-color: var(--card-container);
        height: 88vh;
        overflow: auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 1200px) {

    .navbar-brand svg,
    .navbar-brand span {
        display: none;
    }

    .menu-btn {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .card-container {
        padding: 0;
        box-shadow: none;
    }

    .main-content {
        margin-left: 0;
    }

    .side-menu {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .ordenar {
        display: none;
    }
}

/* Formularios */
.container-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.container-form .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    max-height: 170px;
    background-color: var(--bg-sidebar);
    box-shadow: var(--box-shadow);
    transition: var(--tran-03);
    border-radius: var(--border-radius);
    padding: 15px;
}

.container-form .cards .header .text h6 {
    white-space: normal;
}

.container-form .cards .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-form .cards .header svg {
    cursor: pointer;
}

.container-form .cards .enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-empleos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    margin: 25px 0;
}

.container-empleos .cards {
    position: relative;
    background-color: var(--bg-sidebar);
    box-shadow: var(--box-shadow);
    transition: var(--tran-03);
    border-radius: var(--border-radius);
    padding: 15px;
}

.container-empleos .cards .acciones {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
}

.container-empleos .cards .acciones .btn-edit {
    background-color: var(--btn-danger);
    justify-content: flex-end;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border: 0;
    transition: var(--tran-03);
    border-radius: 50%;
}

.container-empleos .cards .acciones .btn-edit svg {
    color: var(--icon-danger);
}

.container-empleos .cards .imagen img {
    text-align: center;
    width: 100%;
}

.container-empleos .cards .titulo {
    padding: 10px 0;
}

.container-empleos .cards h6 {
    margin-bottom: 0;
}

.container-empleos .cards .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-empleos .cards .aviso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-empleos .cards .botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0 0 0;
}

.container-empleos .cards .botones .accion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-empleos .cards .botones .accion .icono {
    fill: var(--icon-success);
}

.sub-container {
    padding: 20px 40px;
}

.input-file {
    max-width: 190px;
    display: none;
}

.subir-imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px dashed var(--component);
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #404040;
    cursor: pointer;
}

.dropzone--over {
    border: 2px dashed var(--input-caret);
    background-color: var(--btn-secondary);
}

.subir-imagen svg {
    color: var(--icon-secondary);
    transition: var(--tran-03);
}

.fecha-vencida {
    color: red;
}

/* Media Querys */

@media screen and (max-width: 575px) {
    h1 {
        font-size: 1rem;
        font-weight: 600;
    }

    .sub-container {
        padding: 20px 0;
    }

    .container-form {
        grid-template-columns: repeat(1, 1fr);
    }

    .container-empleos {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 5px;
    }

    .card .menu-bar li {
        margin: 10px 0 !important;
    }

    .card .menu-bar li a {
        padding: 10px 0 !important;
    }

    .card .menu-bar li:hover {
        margin: 10px 0 !important;
    }

    .card .menu-bar li svg {
        min-width: 50px !important;
    }

    .container-counters .cards .counter .text .counter-text {
        font-size: 12px !important;
    }

    .offcanvas-full-screen {
        width: 100% !important;
        max-width: 100% !important;
        height: 100%;
        max-height: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .sub-container {
        padding: 20px 0;
    }

    .container-form {
        grid-template-columns: repeat(1, 1fr);
    }

    .container-empleos {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 5px;
    }

    .card .menu-bar li {
        margin: 10px 0 !important;
    }

    .card .menu-bar li a {
        padding: 10px 0 !important;
    }

    .card .menu-bar li:hover {
        margin: 10px 0 !important;
    }

    .card .menu-bar li svg {
        min-width: 50px !important;
    }

    .offcanvas-full-screen {
        width: 100% !important;
        max-width: 100% !important;
        height: 100%;
        max-height: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .sub-container {
        padding: 20px 0;
    }

    .container-form {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-empleos {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5px;
    }

    .card .menu-bar li {
        margin: 10px 0 !important;
    }

    .card .menu-bar li a {
        padding: 10px 0 !important;
    }

    .card .menu-bar li:hover {
        margin: 10px 0 !important;
    }

    .card .menu-bar li svg {
        min-width: 50px !important;
    }

    .offcanvas-full-screen {
        width: 80% !important;
        max-width: 80% !important;
        height: 100%;
        max-height: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .sub-container {
        padding: 20px 0;
    }

    .container-form {
        grid-template-columns: repeat(3, 1fr);
    }

    .container-empleos {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 5px;
    }

    .offcanvas-full-screen {
        width: 60% !important;
        max-width: 60% !important;
        height: 100%;
        max-height: 100%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .container-form {
        grid-template-columns: repeat(3, 1fr);
    }

    .container-empleos {
        grid-template-columns: repeat(3, 1fr);
    }

    .offcanvas-full-screen {
        width: 50% !important;
        max-width: 50% !important;
        height: 100%;
        max-height: 100%;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .container-form {
        grid-template-columns: repeat(3, 1fr);
    }

    .container-empleos {
        grid-template-columns: repeat(3, 1fr);
    }

    .offcanvas-full-screen {
        width: 40% !important;
        max-width: 40% !important;
        height: 100%;
        max-height: 100%;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1919px) {
    .container-form {
        grid-template-columns: repeat(4, 1fr);
    }

    .container-empleos {
        grid-template-columns: repeat(4, 1fr);
    }

    .offcanvas-full-screen {
        width: 40% !important;
        max-width: 40% !important;
        height: 100%;
        max-height: 100%;
    }
}

@media screen and (min-width: 1920px) {
    .container-form {
        grid-template-columns: repeat(4, 1fr);
    }

    .container-empleos {
        grid-template-columns: repeat(5, 1fr);
    }

    .offcanvas-full-screen {
        width: 30% !important;
        max-width: 30% !important;
        height: 100%;
        max-height: 100%;
    }
}