<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redireccionar la barra diagonal final -->
                <rule name="Redirect Trailing Slash" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>
                <!-- Reescribir las solicitudes no relacionadas con archivos o directorios a index.php -->
                <rule name="Laravel Rewrite" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Allow Public Images Folder" stopProcessing="true">
                    <match url="^public/images/(.*)" />
                    <action type="Rewrite" url="images/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <!-- Configuración para mostrar errores detallados -->
        <httpErrors errorMode="Detailed" />
        <!-- Configuración de seguridad -->
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="32768" />
            </requestFiltering>
        </security>
        <!-- Configuración de documentos predeterminados -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
