/* Botones */
.btn {
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    font-weight: 500;
    border-radius: var(--border-radius);
}

.dangerbtn {
    font-size: 20px;
}

.action-title {
    color: var(--action-title);
}

.btn-logo {
    text-decoration: none;
}

.btn-store2 {
    background-color: var(--action) !important;
    border-color: var(--action) !important;
    color: var(--action-title) !important;
    vertical-align: middle;
}

.btn-store2:hover {
    color: var(--action-title);
}

.btn-store2:active {
    color: var(--action-title) !important;
    background-color: var(--action) !important;
    border-color: var(--action) !important;
}

.btn-store2:focus,
.btn-focus-visible {
    color: var(--action-title) !important;
    background-color: var(--action);
    border-color: var(--action);
}

.btn-store {
    background-color: var(--action) !important;
    border-color: var(--action) !important;
    color: var(--action-title) !important;
    vertical-align: middle;
}

.btn-store:hover {
    color: var(--action-title);
}

.btn-store:active {
    background-color: var(--action) !important;
    border-color: var(--action) !important;
}

.btn-store:focus,
.btn-focus-visible {
    background-color: var(--action);
    border-color: var(--action);
}

.btn-primary {
    background-color: var(--btn-primary) !important;
    border: none !important;
    color: var(--icon-primary) !important;
}

.btn-outline-danger {
    border: none;
    --bs-btn-color: var(--icon-danger);
    --bs-btn-border-color: var(--btn-danger);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--btn-danger);
    --bs-btn-hover-border-color: var(--btn-danger);
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--btn-danger);
    --bs-btn-active-border-color: var(--btn-danger);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--btn-danger);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--btn-danger);
    --bs-gradient: none;
    transition: var(--tran-03);
}

.btn-primary:hover {
    background-color: var(--btn-primary-hover) !important;
    border: none !important;
    color: var(--icon-primary) !important;
}

.btn-primary:active {
    background-color: var(--btn-primary) !important;
    border: none !important;
    color: var(--icon-primary) !important;
}

.btn-primary:focus,
.btn-primary-visible {
    background-color: var(--btn-primary);
    border: none !important;
}

.btn-secondary {
    background-color: var(--btn-secondary) !important;
    border-color: var(--btn-secondary) !important;
    color: var(--icon-secondary) !important;
}

.btn-secondary:hover {
    background-color: var(--btn-secondary-hover) !important;
    border-color: var(--btn-secondary-hover) !important;
    color: var(--icon-secondary);
}

.btn-secondary:active {
    background-color: var(--btn-secondary-hover);
    border-color: var(--btn-secondary-hover);
}

.btn-secondary:focus,
.btn-secondary-visible {
    background-color: var(--btn-secondary);
    border-color: var(--btn-secondary);
}

.btn-group-secondary {
    background-color: var(--btn-secondary);
    border-color: var(--btn-secondary);
    color: var(--icon-secondary) !important;
}

.btn-group-secondary:hover {
    background-color: var(--btn-secondary-hover);
    border-color: var(--btn-secondary-hover);
    color: var(--icon-secondary);
}

.btn-group-secondary:active {
    background-color: var(--btn-secondary-hover) !important;
    border-color: var(--btn-secondary-hover) !important;
}

.btn-group-secondary:focus,
.btn-group-secondary-visible {
    background-color: var(--btn-secondary);
    border-color: var(--btn-secondary);
}

.buttons-select-none {
    border: none;
}

.btn-success {
    background-color: var(--btn-success) !important;
    border: none !important;
    color: var(--icon-success) !important;
}

.btn-success:hover {
    background-color: var(--btn-success-hover) !important;
    border: none !important;
    color: var(--icon-success);
}

.btn-success:active {
    background-color: var(--btn-success-hover) !important;
    border: none !important;
}

.btn-success:focus,
.btn-success-visible {
    background-color: var(--btn-success);
    border: none !important;
}

.btn-danger {
    background-color: var(--btn-danger) !important;
    border: none !important;
    color: var(--icon-danger) !important;
}

.btn-danger:hover {
    background-color: var(--btn-danger-hover) !important;
    border: none !important;
    color: var(--icon-danger);
}

.btn-danger:active {
    background-color: var(--btn-danger-hover) !important;
    border: none !important;
}

.btn-danger:focus,
.btn-danger-visible {
    background-color: var(--btn-danger);
    border: none !important;
}

.btn-warning {
    background-color: var(--btn-warning) !important;
    border: none !important;
    color: var(--icon-warning) !important;
}

.btn-warning:hover {
    background-color: var(--btn-warning-hover) !important;
    border: none !important;
    color: var(--icon-warning);
}

.btn-warning:active {
    background-color: var(--btn-warning-hover) !important;
    border: none !important;
}

.btn-warning:focus,
.btn-warning-focus-visible {
    background-color: var(--btn-warning);
    border: none !important;
}

.btn-border-right {
    border-top-right-radius: var(--border-radius) !important;
    border-bottom-right-radius: var(--border-radius) !important;
}

.btn-border-left {
    border-top-left-radius: var(--border-radius) !important;
    border-bottom-left-radius: var(--border-radius) !important;
}

.btn-actions {
    width: 175px;
}

.flex-wrap {
    flex-wrap: nowrap !important;
}

.alert-primary {
    background-color: var(--alert-primary);
    color: var(--alert-primary-color);
    border-color: var(--alert-primary-border);
    transition: var(--tran-03);
}

/* Botón flotante */
.btn-float {
    border-radius: 15px;
    position: fixed;
    bottom: 16px;
    right: 12px;
    width: 70px;
    height: 60px;
    transition: var(--tran-03);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--action);
    --bs-btn-color: #121213;
    --bs-btn-border-color: var(--action);
    --bs-btn-hover-color: var(--action-hover);
    --bs-btn-hover-bg: var(--action-hover);
    --bs-btn-hover-border-color: var(--action-hover);
    --bs-btn-focus-shadow: var(--action);
    --bs-btn-active-color: #121213;
    --bs-btn-active-bg: var(--action);
    --bs-btn-active-border-color: var(--action);
    z-index: 1;
}

.btn-float:hover {
    background-color: var(--action);
}

.imagen-perfil {
    object-fit: cover;
    width: 112px;
    height: 112px;
}

.icono-perfil {
    object-fit: cover;
    width: 35px;
    height: 35px;
}

/* Iconos */
.icon-primary {
    color: var(--icon-primary);
    transition: var(--tran-03);
}

.icon-secondary {
    fill: var(--icon-secondary);
    transition: var(--tran-03);
}

.icon-secondary:hover {
    background-color: var(--sidebar-bg-hover);
}

.icon-success {
    color: var(--icon-success);
    transition: var(--tran-03);
}

.icon-danger {
    color: var(--icon-danger);
    transition: var(--tran-03);
}

.icon-warning {
    fill: var(--icon-warning);
    transition: var(--tran-03);
}

.icon-add-empresa {
    fill: var(--action-title);
    margin-right: 10px;
}

.icon {
    color: var(--icon-secondary);
    transition: var(--tran-03);
    outline: none;
}

/* Tooltips */
.icon-btn-info {
    fill: var(--input-caret);
    transition: var(--tran-03);
    height: 18px;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bg-tooltip);
    --bs-tooltip-color: var(--color-tooltip);
}

/* Estilos para el toggle switch */
.bottom-content .mode {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding-top: 10px;
    position: relative;
    color: var(--text-color);
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    transition: var(--tran-03);
}

.bottom-content .toggle-switch {
    position: absolute;
    right: 20px;
    width: 45px;
    height: 25px;
    border-radius: 15px;
    background-color: #e9e9eb;
    cursor: pointer;
}

.switch {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    box-shadow: 0 1px 3px var(--toggle-shadow);
    transition: var(--tran-02);
}

.toggle-switch2 {
    cursor: pointer;
}

.toggle-switch2 .switch2 {
    position: relative;
    width: 54px;
    height: 30px;
    border-radius: 25px;
    background-color: #ccc;
    transition: var(--tran-03);
}

.switch2::before {
    content: "";
    position: absolute;
    top: 2.5px;
    left: 3px;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .toggle-switch2 .switch2 {
    background-color: var(--toggle-switch);
}

body.dark .switch2::before {
    left: 26px;
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Formulario */

button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
}

.small-button {
    min-width: 90px;
    height: 30px;
    border-radius: 20px;
    background: #000;
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    line-height: 1;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    position: relative;
}

.small-button::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: #89de83;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s ease-in-out;
}

.small-button:hover {
    background: transparent;
    color: #000;
}

.small-button:hover::before {
    opacity: 1;
}

.container-graficos {
    display: grid;
    gap: 10px;
}

.container-graficos .cards {
    background-color: var(--bg-sidebar);
    box-shadow: var(--box-shadow);
    transition: var(--tran-03);
    border-radius: var(--border-radius);
}

.container-graficos .cards .text {
    display: flex;
    flex-direction: column;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.container-cards a {
    text-decoration: none;
}

.container-cards .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-sidebar);
    box-shadow: var(--box-shadow);
    transition: var(--tran-03);
    border-radius: var(--border-radius);
    padding: 5px;
}

.container-cards .cards img {
    max-width: 100px;
    height: auto;
    padding: 15px;
}

.container-cards .cards .name {
    text-align: center;
    padding: 10px;
}

.container-counters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.container-counters .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-sidebar);
    box-shadow: var(--box-shadow);
    transition: var(--tran-03);
    border-radius: var(--border-radius);
    padding: 10px;
}

.container-counters .cards .counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-counters .cards .counter .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-counters .cards .counter .text .counter-text {
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
}

.container-counters .cards .counter svg {
    width: 40%;
    transition: var(--tran-03);
}

.botones-filter {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
}

.info-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.accion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.accion .icon-primary {
    color: var(--icon-primary);
}

.accion .icon-success {
    color: var(--icon-success);
}

@media screen and (max-width: 575px) {
    .content {
        padding: 4rem 1rem 2rem 1rem;
    }

    .info-pagination {
        display: flex;
        flex-direction: column;
    }

    .botones-filter {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .spinner-table {
        background-color: var(--body-bg);
    }

    .navbar {
        background: var(--body-bg);
    }

    .container-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-counters {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-graficos {
        grid-template-columns: repeat(1, 1fr);
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin-top: 1em;
    }

    .table-responsive {
        padding: 0 !important;
        background-color: var(--body-bg) !important;
        box-shadow: none !important;
    }

    .table > :not(caption) > * > * {
        background-color: var(--body-bg) !important;
    }

    .nav-tabs .nav-link.active {
        background-color: var(--body-bg) !important;
    }

    .modal-header {
        background-color: var(--body-bg) !important;
    }

    .modal-content {
        background-color: var(--body-bg) !important;
    }

    .modal-body {
        background-color: var(--body-bg) !important;
    }

    .modal-footer {
        background-color: var(--body-bg) !important;
        flex-wrap: nowrap;
    }

    .card {
        background-color: var(--body-bg) !important;
        box-shadow: none !important;
    }

    .card-header {
        background-color: var(--body-bg) !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .navbar {
        background: var(--body-bg);
    }

    .container-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .container-counters {
        grid-template-columns: repeat(2, 1fr);
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: flex-end !important;
    }

    div.dataTables_wrapper div.dataTables_info {
        text-align: left;
    }

    .container-graficos {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        background-color: var(--body-bg) !important;
        box-shadow: none !important;
    }

    .card-header {
        background-color: var(--body-bg) !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .botones-filter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .navbar {
        background: var(--body-bg);
    }

    .container-cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .container-counters {
        grid-template-columns: repeat(4, 1fr);
    }

    .container-graficos {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        background-color: var(--body-bg) !important;
        box-shadow: none !important;
    }

    .card-header {
        background-color: var(--body-bg) !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .navbar {
        background: var(--body-bg);
    }

    .container-cards {
        grid-template-columns: repeat(5, 1fr);
    }

    .container-counters {
        grid-template-columns: repeat(4, 1fr);
    }

    .container-graficos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .navbar {
        background: var(--body-bg);
    }

    .container-cards {
        grid-template-columns: repeat(5, 1fr);
    }

    .container-counters {
        grid-template-columns: repeat(4, 1fr);
    }

    .container-graficos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
    .container-cards {
        grid-template-columns: repeat(5, 1fr);
    }

    .container-counters {
        grid-template-columns: repeat(4, 1fr);
    }

    .container-graficos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1441px) and (max-width: 1919px) {
    .container-cards {
        grid-template-columns: repeat(6, 1fr);
    }

    .container-counters {
        grid-template-columns: repeat(4, 1fr);
    }

    .container-graficos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1920px) {
    .container-cards {
        grid-template-columns: repeat(8, 1fr);
    }

    .container-counters {
        grid-template-columns: repeat(4, 1fr);
    }

    .container-graficos {
        grid-template-columns: repeat(3, 1fr);
    }
}
