.card {
    border: 0;
    transition: var(--tran-03);
    background-color: var(--body-bg);
}

.card .menu-bar ul {
    padding-left: 0;
}

.card .menu-bar li {
    list-style-type: none;
    margin: 10px;
}

.card .menu-bar li:hover {
    background-color: var(--sidebar-bg-hover);
    margin: 10px;
    border-radius: 1.875rem;
}

.card .menu-bar li svg {
    height: 25px;
    min-width: 60px;
    color: var(--icon-secondary);
    cursor: pointer;
    transition: all 0.3s ease;
}

.card .menu-bar li a {
    display: flex;
    padding: 10px;
    align-items: center;
    text-decoration: none;
}

.card .menu-bar li .link_name {
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    font-weight: 500;
    white-space: nowrap;
    color: var(--text-color);
    transition: var(--tran-03);
}

.card .image-edit {
    position: absolute;
    right: 25%;
    cursor: pointer;
    color: var(--primary);
}

.card-header:first-child {
    border-radius: var(--border-radius);
}

.card-header {
    background-color: var(--body-bg);
    transition: var(--tran-03);
    border-bottom: 0;
    border-radius: var(--border-radius);
}

.card .text-card {
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing);
    font-weight: 500;
    white-space: nowrap;
    color: var(--text-color);
    transition: var(--tran-03);
}

.card-counter .counter-icono {
    transition: var(--tran-03);
    height: 75px;
    width: 75px;
}

.cartas {
    padding-bottom: 60px;
}

.carta-primary {
    background-color: var(--carta-primary);
    transition: var(--tran-03);
    border-radius: var(--border-radius);
}

.carta-primary .icon {
    fill: var(--icon-carta-primary);
    transition: var(--tran-03);
}

.carta-secondary {
    background-color: var(--carta-secondary);
    transition: var(--tran-03);
    border-radius: var(--border-radius);
}

.carta-secondary .icon {
    fill: var(--icon-carta-secondary);
    transition: var(--tran-03);
}

.carta-success {
    background-color: var(--carta-success);
    transition: var(--tran-03);
    border-radius: var(--border-radius);
}

.carta-success .icon {
    fill: var(--icon-carta-success);
    transition: var(--tran-03);
}

.carta-info {
    background-color: var(--carta-info);
    transition: var(--tran-03);
    border-radius: var(--border-radius);
}

.carta-info .icon {
    fill: var(--icon-carta-info);
    transition: var(--tran-03);
}

.card-enlace {
    text-decoration: none;
}

/* Formularios */
.card-form {
    max-width: 600px;
    transition: var(--tran-03);
    background-color: var(--body-bg);
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .card-form {
        width: 100%;
        padding: 0;
        box-shadow: none;
    }

    .card-body {
        padding: 0;
    }

    .card-header {
        padding: 15px 0;
    }
}
