/* Modal */
.modal {
    background-color: #00000050;
}

.custom-modal {
    width: auto;
    max-width: 450px;
}

.modal-header,
.modal-body,
.modal-content,
.modal-footer {
    border: none;
    background-color: var(--card-bg);
    color: var(--text-color);
}

.modal-header {
    padding: 1rem 1rem;
    border-bottom: none !important;
    align-items: flex-start;
}

.modal-title {
    flex: 0 0 70%;
    font-weight: 600;
    letter-spacing: var(--letter-spacing);
}

.modal-body {
    padding-top: 0;
}

.modal-footer {
    justify-content: space-between;
}

/* Icono cerrar modal */
.btn-icon-close {
    justify-content: flex-end;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border: 0;
    transition: var(--tran-03);
    border-radius: 50%;
}

.btn-icon-close:hover {
    background: var(--btn-secondary);
}

/* Color del icono cerrar modal */
.icon-close {
    fill: var(--icon-secondary);
    transition: var(--tran-03);
}
