.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.notification.hidden {
    display: none;
}

.notification-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.notification-close {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.note {
    font-size: 16px; /* Tamaño de fuente adecuado para destacar */
    color: #856404; /* Texto en un tono naranja oscuro para buen contraste */
    margin: 15px 0; /* Espaciado vertical adecuado */
    padding: 10px; /* Espaciado interno para que el texto no esté pegado al borde */
    border: 1px solid #f6c7b6; /* Borde en naranja suave */
    border-radius: 5px; /* Bordes redondeados para un aspecto más suave */
    background-color: #fef2e5; /* Fondo naranja suave */
}


