.contenedor {
    padding: 0 2rem !important;
}

.offcanvas .table-responsive {
    padding: 0;
    box-shadow: none;
}

.offcanvas-full-screen {
    background-color: var(--bg-sidebar);
}

.offcanvas-tabla {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offcanvas-body .side .dropdown-menu {
    background-color: var(--dropdown-menu);
    padding: 3px 7px;
    border-radius: var(--border-radius);
    width: auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.offcanvas-body .side .dropdown-menu .dropdown-item {
    border-radius: var(--border-radius);
}
