/* Tabs */
.nav-tabs {
    border-color: var(--table-border);
    transition: var(--tran-03);
}

.nav-tabs .nav-link {
    color: var(--text-color);
    transition: var(--tran-03);
    font-size: small;
    letter-spacing: var(--letter-spacing);
    white-space: nowrap;
}

.nav-tabs .nav-link.active {
    color: var(--accent) !important;
    background-color: var(--card-bg);
    border-color: var(--table-border);
}

.nav-tabs .nav-link:hover {
    color: var(--text-color);
    background-color: var(--sidebar-bg-hover);
    border-color: var(--table-border);
}

.nav-link.has-validation-errors {
    border-color: #dc3545 !important;
    color: #dc3545 !important;
}
